.py {
    padding: 120px 0;
}



.container {
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px
}

.justify {
    justify-content: space-between;
}

.d-flex {
    display: flex;
    flex-wrap: wrap;
}

.w-4 {
    width: 40%;
}




.explore-text h2 {
    color: white;
    font-size: 4rem;
}


.w-6 {
    width: 60%;
}

.explore-img img {
    width: 100%;
}

.explore-text p {
    color: white;
    font-size: 2rem;
    font-weight: 350;
    /* margin: 20px; */
    /* padding-top: 30px; */
}

@media (max-width: 1280px) {
    .container {
        max-width: 1140px;
    }
}

@media (max-width: 1130px) {
    .container {
        max-width: 1100px;
    }

    .explore-section {
        text-align: center;
        padding: 100px 0;
    }

    .w-xl-flex {
        display: flex;
        flex-direction: column-reverse;
    }

    .w-xl-100 {
        width: 100%;
    }

    .explore-text h2 {
        font-size: 55px;
    }

    .w-xl-100 {
        width: 100%;
    }

    .explore-img img {
        width: 80%;
    }
}

@media (max-width: 992px) {
    .explore-section {
        padding: 80px 0;
    }

    .container {
        max-width: 940px;
    }

    .explore-text {
        font-size: 25px;
    }
    .explore-text h2 {
        font-size: 40px;
    }

}

@media (max-width: 820px) {
    .container {
        max-width: 940px;
    }
}

@media (max-width: 768px) {
    .py {
        padding: 85px 0;
    }

    .container {
        max-width: 720px;
    }

    .explore-img img {
        width: 80%;
    }
}

@media (max-width: 576px) {
    .py {
        padding: 80px 0;
    }

    .container {
        max-width: 540px;
    }

    .explore-img img {
        width: 95%;
    }

}

@media (max-width: 480px) {
    .container {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .container {
        width: 100%;
    }
    .explore-text h2 {
        font-size: 35px;
    }

    .explore-text p {
        font-size: 25px;
    }
}

@media (max-width: 320px) {
    .container {
        width: 100%;
    }
    

}

@media (max-width: 280px) {
    .container {
        max-width: 100%;
    }

    .explore-text h2 {
        font-size: 25px;
    }

    .explore-text p {
        font-size: 18px;
    }

    .explore-img img {
        width: 100%;
    }
}